body {
  background-color: #3F4042;
}

.chapter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapter img {
  margin-bottom: 10px;
}

.chapter-buttons {
  display: flex;
  justify-content: center;
  margin: 10px auto 10px auto;
}

.top-bar {
  display: flex;
  font-size: x-large;
  color: white;
  border: 2px solid black;
  background-color: green;
  margin: 0px;
  padding: 7px;
}

